@import "tailwindcss";

#nav1
{
    background-color: rgba(0, 0, 0, 0.164);
}

body
{
    background-color:rgba(0, 0, 0, 0.87);
    

   

    
}
/* .backimg img
{
    width: full;
    background-size: cover;
    height: 50vh;
} */